*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: "kajiro";
    
}

#main{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: rgb(183, 0, 255); */
    
}

#top{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: black; */
    pointer-events: none;
}

#back{
    width: 100%;
    height: 100vh;
    position: relative;
}

#wokringarea{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width:1920px;
    /* background-color: black; */
    /* border: 1px solid red; */
    position: relative;
    
}


#nav{
    width: 100%;
    padding: 20px;
}

#nright{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: right;
}

#nright a{
    color: black;
    pointer-events: all;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    

}

#hero{
    position: absolute;
    top: 75%;
    left: 0;
    transform: translate(-0%,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    
}

#heroleft{
    min-width: 50%;
    /* background-color: yellow; */
}

#heroleft .elem {
    height: 8vw;
    overflow: hidden;
    position: relative;
}

#heroleft .elem h1:nth-child(1){
    top: 0;
}

#heroleft .elem h1{
    color:white;
    font-weight: 100;
    font-size: 8vw;
    line-height: 1;
    margin-left: vw;
    position: absolute;
    top: 100%;
    left: 0;
}





#heroright{
    min-width: 10%;
    height: 10%;
    background-color: green;
    display: flex;
    /* position: relative; */
}

#heroright button{
    pointer-events: all;
    width: 10vw;
    height: 4vh;
    font-weight: 800;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    font-family: 'kajiro';
    font-size:x-large;
    line-height: 1;
    word-spacing: 2px;
    
}


.hii {
    position: absolute;
    height: 10vh;
    width: 100%;
    object-position: center;
     
}

.jump{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
}

.waters{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


::-webkit-scrollbar {
    width: 6px;
}
  
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;    
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;  
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555555;
    border-radius: 20px;
  }


.loaderbahar {
      display: flex;
      background-color: black;
      height: 100vh;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 99.5vw;
      z-index: 9;
      
    }
    
    .insidecontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1vw;
    }
    
    .box1, .box2, .box3 {
      height: 10vh;
      background-color: white;
      width: 0.5vw;
      animation-duration: 1.3s; /* Duration for individual box animation */
      animation-iteration-count: infinite;
    }
    
    .box1 {
      animation-name: scale1;
      animation-delay: 0s; /* No delay for the first box */
    }
    
    .box2 {
      animation-name: scale2;
      animation-delay: 0.2s; /* Delay for the second box */
    }
    
    .box3 {
      animation-name: scale3;
      animation-delay: 0.4s; /* Delay for the third box */
    }
    
    @keyframes scale1 {
      0%, 100% {
        transform: scaleY(1);
      }
      50% {
        transform: scaleY(2);
      }
    }
    
    @keyframes scale2 {
      0%, 100% {
        transform: scaleY(1);
      }
      50% {
        transform: scaleY(2);
      }
    }
    
    @keyframes scale3 {
      0%, 100% {
        transform: scaleY(1);
      }
      50% {
        transform: scaleY(2);
      }
    }











